.container {
	height: 600px;
	max-width: 1000px;
	/*border: 2px solid red;*/
/*	display: flex;
	justify-content: space-around;
	align-items: center;*/
	text-align: center;
}

#titulo {
	border: 1px solid red;
	border-radius: 20px;
}